@model DeliveriesViewModel

<div class="d-flex flex-column">

    @foreach (var delivery in Model.Deliveries)
    {
        <a class="btn btn-primary m-2" href="@Url.Action("Package","Delivery", new {DeliveryId = delivery.Id})">
            @delivery.TrackNumber
        </a>
    }
</div>